In [30]:
import pandas as pd

In [31]:
data = pd.read_excel("/content/NIFTY25JUN2010000PE.xlsx", parse_dates=[['Date', 'Time']])

In [32]:
#convert df index to DataTimeIndex
data.index = pd.to_datetime(data['Date_Time'] )

In [33]:
data.isnull().sum()

Date_Time    0
Ticker       0
Open         0
High         0
Low          0
Close        0
Volume       0
dtype: int64

In [34]:
data.head()

                              Date_Time               Ticker  ...  Close   Volume
Date_Time                                                     ...
2020-05-29 09:15:00 2020-05-29 09:15:00  NIFTY25JUN2010000PE  ...   662.1    1950
2020-05-29 09:16:00 2020-05-29 09:16:00  NIFTY25JUN2010000PE  ...   650.0    3825
2020-05-29 09:17:00 2020-05-29 09:17:00  NIFTY25JUN2010000PE  ...   650.0     450
2020-05-29 09:18:00 2020-05-29 09:18:00  NIFTY25JUN2010000PE  ...   645.5    1275
2020-05-29 09:19:00 2020-05-29 09:19:00  NIFTY25JUN2010000PE  ...   645.0     150

[5 rows x 7 columns]

In [35]:
#downsample and aggregate
Resampled_Data = data.resample('15T').mean()

In [36]:
Resampled_Data.head(40)

                          Open        High   ...      Close        Volume
Date_Time                                    ...
2020-05-29 09:15:00  650.996667  655.490000  ...  652.043333   905.000000
2020-05-29 09:30:00  673.543333  676.133333  ...  673.313333   365.000000
2020-05-29 09:45:00  671.460714  674.114286  ...  671.692857   862.500000
2020-05-29 10:00:00  651.678571  653.628571  ...  650.142857  1489.285714
2020-05-29 10:15:00  647.283333  649.143333  ...  646.660000  1250.000000
2020-05-29 10:30:00  631.283333  633.176667  ...  630.326667  1180.000000
2020-05-29 10:45:00  629.263333  631.970000  ...  629.936667   615.000000
2020-05-29 11:00:00  625.988462  627.561538  ...  624.876923   675.000000
2020-05-29 11:15:00  622.116667  624.055556  ...  622.122222   316.666667
2020-05-29 11:30:00  619.500000  622.345000  ...  620.405000   495.000000
2020-05-29 11:45:00  641.777273  644.786364  ...  643.363636   334.090909
2020-05-29 12:00:00  656.663636  658.968182  ...  656.800000   340.909091
2020-05-29 12:15:00  646.311111  648.177778  ...  646.311111   108.333333
2020-05-29 12:30:00  649.336364  651.222727  ...  649.700000   204.545455
2020-05-29 12:45:00  645.600000  646.112500  ...  642.681250   150.000000
2020-05-29 13:00:00  633.714286  637.935714  ...  636.242857   492.857143
2020-05-29 13:15:00  645.908333  647.233333  ...  644.700000   150.000000
2020-05-29 13:30:00  634.331250  636.331250  ...  633.018750   225.000000
2020-05-29 13:45:00  628.738462  630.573077  ...  629.007692   415.384615
2020-05-29 14:00:00  611.957143  613.550000  ...  609.664286   567.857143
2020-05-29 14:15:00  610.670833  614.704167  ...  612.983333   618.750000
2020-05-29 14:30:00  617.207692  618.465385  ...  615.603846   375.000000
2020-05-29 14:45:00  604.023077  605.280769  ...  603.438462   900.000000
2020-05-29 15:00:00  584.370000  585.930000  ...  582.993333  1240.000000
2020-05-29 15:15:00  586.256667  588.373333  ...  587.336667  1785.000000
2020-05-29 15:30:00         NaN         NaN  ...         NaN          NaN
2020-05-29 15:45:00         NaN         NaN  ...         NaN          NaN
2020-05-29 16:00:00         NaN         NaN  ...         NaN          NaN
2020-05-29 16:15:00         NaN         NaN  ...         NaN          NaN
2020-05-29 16:30:00         NaN         NaN  ...         NaN          NaN
2020-05-29 16:45:00         NaN         NaN  ...         NaN          NaN
2020-05-29 17:00:00         NaN         NaN  ...         NaN          NaN
2020-05-29 17:15:00         NaN         NaN  ...         NaN          NaN
2020-05-29 17:30:00         NaN         NaN  ...         NaN          NaN
2020-05-29 17:45:00         NaN         NaN  ...         NaN          NaN
2020-05-29 18:00:00         NaN         NaN  ...         NaN          NaN
2020-05-29 18:15:00         NaN         NaN  ...         NaN          NaN
2020-05-29 18:30:00         NaN         NaN  ...         NaN          NaN
2020-05-29 18:45:00         NaN         NaN  ...         NaN          NaN
2020-05-29 19:00:00         NaN         NaN  ...         NaN          NaN

[40 rows x 5 columns]

### Resampling Successful!!
Getting NaN values for the rows missing in default sheet.

In [37]:
# Cleaning Null Rows
new_Data = Resampled_Data.dropna(axis = 0)

In [38]:

new_Data.to_excel("CleanedData.xlsx")

## Getting data date by date

In [39]:
df = new_Data
df.shape

(500, 5)

In [40]:
df.head(10)

                          Open        High   ...      Close        Volume
Date_Time                                    ...
2020-05-29 09:15:00  650.996667  655.490000  ...  652.043333   905.000000
2020-05-29 09:30:00  673.543333  676.133333  ...  673.313333   365.000000
2020-05-29 09:45:00  671.460714  674.114286  ...  671.692857   862.500000
2020-05-29 10:00:00  651.678571  653.628571  ...  650.142857  1489.285714
2020-05-29 10:15:00  647.283333  649.143333  ...  646.660000  1250.000000
2020-05-29 10:30:00  631.283333  633.176667  ...  630.326667  1180.000000
2020-05-29 10:45:00  629.263333  631.970000  ...  629.936667   615.000000
2020-05-29 11:00:00  625.988462  627.561538  ...  624.876923   675.000000
2020-05-29 11:15:00  622.116667  624.055556  ...  622.122222   316.666667
2020-05-29 11:30:00  619.500000  622.345000  ...  620.405000   495.000000

[10 rows x 5 columns]

In [41]:
df.columns

Index(['Open ', 'High ', 'Low ', 'Close ', 'Volume'], dtype='object')

In [42]:
dates = sorted(list(set(df.index.date)))

In [43]:
def calc(op, high, low, close):
    n = len(op)
    curr = 1
    prev = 0
    shortpos = -1
    short = False
    while curr<n:
        if low[curr]<low[prev]:
            short = True
            shortpos = curr
            break
        prev = curr
        curr+=1
    
    if short:
        while curr<n:
           
            if high[shortpos]<high[curr]:
                return close[curr] - op[0]
            curr+=1
    return close[-1] - op[0]

In [44]:
for date in dates[0:]:
    data = df.loc[str(date)]

    # Size of data
    op, high, low, close = [], [], [], []
    #print(data.shape)

    for i in range(data.shape[0]):
        op.append((data.iloc[i])[0])
        high.append((data.iloc[i])[1])
        low.append((data.iloc[i])[2])
        close.append((data.iloc[i])[3])

    pNl = calc(op, high, low, close)

    if pNl<0:
        print(f"{date}: Loss \t{-round(pNl,2)}")
    elif pNl>0:
        print(f"{date}: Profit \t{round(pNl,2)}")
    else:
        print(f"{date}: No Profit or Loss")
    print("________________________________")

2020-05-29: Loss 	63.66
________________________________
2020-06-01: Loss 	26.63
________________________________
2020-06-02: Loss 	22.45
________________________________
2020-06-03: Profit 	14.05
________________________________
2020-06-04: Profit 	17.51
________________________________
2020-06-05: Loss 	0.68
________________________________
2020-06-08: Profit 	6.37
________________________________
2020-06-09: Loss 	9.12
________________________________
2020-06-10: Profit 	10.54
________________________________
2020-06-11: Loss 	1.08
________________________________
2020-06-12: Loss 	12.31
________________________________
2020-06-15: Profit 	28.22
________________________________
2020-06-16: Profit 	37.38
________________________________
2020-06-17: Loss 	23.85
________________________________
2020-06-18: Loss 	132.74
________________________________
2020-06-19: Profit 	11.59
________________________________
2020-06-22: Loss 	4.46
________________________________
2020-06-23: Loss 	12.95
________________________________
2020-06-24: Loss 	0.32
________________________________
2020-06-25: Loss 	6.03
________________________________